<div class="comment-form-container">
  <div class="media-content">
    <%= form_with model: @comment, method: :post, url: post_comments_path(post.id) do |form| %>
      <%= form.hidden_field :post_id, value: post.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <div class="field has-addons">
        <p class="control is-expanded">
          <%= form.text_area :content, placeholder: 'Write a comment...', type: "text", class: "input is-small is-rounded" %>
        </p>
        <div class="control">
          <%= form.submit 'Add comment', class: "button is-success is-light is-rounded is-small is-outlined" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
