<h1><%= " #{current_user.full_name}'s Notifications" %></h1><br>

<h1>Unread</h1>
<% @notifications.unread.each do |notification| %>
  <% if notification.action == 'friendship' %>
    <%= "#{Friendship.find(notification.notifiable_id).user.full_name} sent you a " %>
    <%= link_to "friend request", user_friendships_path(current_user) %>
  <% elsif notification.action == 'like' %>
  <% elsif notification.action == 'comment' %>
  <% end %>
<% end %><br><br>

<h1>Read</h1>
<% @notifications.read.each do |notification| %>
  <% if notification.action == 'friendship' %>
    <%= "#{Friendship.find(notification.notifiable_id).user.full_name} sent you a " %>
    <%= link_to "friend request", user_friendships_path(current_user) %>
  <% elsif notification.action == 'like' %>
  <% elsif notification.action == 'comment' %>
  <% end %>
<% end %><br><br>
