  
<section class="section">
  
    <div class="columns is-vcentered">
      <div class="column is-narrow has-text-centered">
        <div class="prof-image">
          <figure class="image is-rounded is-inline-block">
            <%= render 'avatar', user: @user %>
          </figure>
        </div>
      </div>
      <div class="column">
        <%= turbo_frame_tag dom_id(@user, "edit-profile") do %>
          <div>
            <h1 class="title is-3"><%= @user.full_name %></h1>
            <strong><%= "Location: " %></strong><%= @user.location %><br>
            <strong><%= "Birthday: "%></strong><%= @user.birthday %><br>
            <strong><%= "Occupation: "%></strong><%= @user.occupation %><br>
            <strong><%= "College: "%></strong><%= @user.college %><br>
            <strong><%= "High School: "%></strong><%= @user.high_school %><br>
            <br>
          </div>
          <div>
            <% if @user == current_user %>
              <%= link_to "Edit Profile", edit_user_path(current_user), data: { turbo_frame: dom_id(@user, "edit-profile") }, class: "button is-success is-light is-outlined" %>
            <% end %>
            <% if @user != current_user %>
              <% if @user.friends.include?(current_user)%>
                <span class="tag is-success is-light is-medium">Friends</span>
              <% elsif @user.pending_friends.include?(current_user)%>
                <span class="tag is-success is-light is-medium">Friendship Pending</span>
              <% else %>
                <%= link_to "Add Friend", user_friendships_path(user_id: current_user.id, friend_id: @user.id), data: { turbo_method: :post }, class: "button is-success is-light is-outlined is-small" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
