<h1><%= @user.full_name %></h1><br>

<h2>About</h2>
<%= "Location: #{ @user.location }" %><br>
<%= "Birthday: #{ @user.birthday }" %><br>
<%= "Occupation: #{ @user.occupation }" %><br>
<%= "College: #{ @user.college }" %><br>
<%= "High School: #{ @user.high_school }" %><br><br>
<% if @user == current_user %>
  <%= link_to "Edit Profile", edit_user_path(current_user) %>
<% end %>
<% if @user != current_user %>
  <% if @user.friends.include?(current_user)%>
    <span class="tag is-success is-light is-medium">Friends</span>
  <% elsif @user.pending_friends.include?(current_user)%>
    <span class="tag is-success is-light is-medium">Friendship Pending</span>
  <% else %>  
    <%= form_with model: @friendship, url: user_friendships_path(current_user.id) do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :friend_id, value: @user.id %>
      <%= form.submit "Add Friend", class: "button is-success is-outlined" %>
    <% end %>
  <% end %>
<% end %>

