<div class="section">
  <div class="event-show-container">
    <h1 class="title is-3 is-underlined"><%= @event.name %></h1>
    <div class="block">
      <div class="is-flex is-align-items-center"><b>Hosted by: </b><%= render 'users/avatar_name', user: @event.host %></div>
    </div>
    <div class="block">
      <h2 class="is-size-5 has-text-weight-bold" >When & Where:</h2>
      <li><b>Date: </b><%= @event.date.strftime('%B %d, %Y') %></li>
      <li><b>Start: </b><%= @event.start_time.strftime('%I:%M:%S %p') %></li>
      <li><b>End: </b><%= @event.end_time.strftime('%I:%M:%S %p')  %></li>
      <li><b>Location: </b><%= @event.location %></li>
    </div>
    <div class="block">
      <h2 class="is-size-5 has-text-weight-bold">About This Event:</h2>
      <div><%= @event.details %></div>
    </div>
    <div class="block">
      <h2 class="is-size-5 has-text-weight-bold"><%= @event.rsvps.count %> People Attending:</h2>
      <div>
        <% @event.rsvps.each do |rsvp| %>
          <div class="user-block">
            <%= render 'users/avatar_name', user: rsvp.attendee %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <% if current_user.attending_event?(@event)%>
        <%= link_to 'No Longer Attending Event', rsvp_path(event_id: @event.id, attendee_id: current_user.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button is-danger is-outlined is-small" %>
      <% else %>
        <%= form_with model: @rsvp, url: rsvps_path do |form| %>
          <%= form.hidden_field :event_id, value: @event.id %>
          <%= form.submit 'Attend This Event', class: "button is-success is-outlined is-small" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
