
<%= form_with model: @post, method: :post do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= form.text_area :content, placeholder: "What's on your mind, #{current_user.full_name}?" %>
  </div>
  <div>
    <%= form.submit "Post", class: "button is-success is-outlined is-small" %>
  </div>
<% end %><br>


<% @posts.each do |post| %>
  <%= render 'post', post: post %>
  <% like = post.find_like(current_user) %>
  <% if current_user.likes.where(post_id: post.id).exists? %>
    <%= like.id %>
    <%= link_to "Unlike", post_like_path(post_id: post.id, id: like.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "button is-success is-outlined is-small"%><br>
  <% elsif !current_user.likes.where(post_id: post.id).exists? %>
    <%= form_with model: @like, method: :post, url: post_likes_path(post.id) do |form| %>
      <%= form.hidden_field :post_id, value: post.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Like", class: "button is-success is-outlined is-small" %>
    <% end %><br>
  <% end %>
<% end%><br>
